@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.wrapper {
	width: 100%;
	min-width: 600px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.header {
	height: 120px;
	color: blue;
	font-family: sans-serif;
	border-bottom: 1px solid grey;
}

.header h1 {
	font-size: 40px;
	padding-top: 30px;
	padding-left: 20px;
}

.header #change_locale {
	float: right;
	margin: 10px 10px;
	font-size: 16px;
}

.header #change_locale span {
	margin-right: 10px;
}

.left_menu {
	border-right: 1px solid grey;
	display: block;
	float: left;
	clear: none;
	width: 200px;
	height: 128%;
	font-family: sans-serif;
}

.left_menu h4 {
	margin-left: 65px;
	font-size: 20px;
	margin-top: 5px;
}

.left_menu .left_menu_items_block {
	margin-left: 20px;
	margin-top: 15px;
}

.left_menu .left_menu_items_block ul {
	list-style: none;
}

.left_menu .left_menu_items_block ul li {
	padding-top: 5px;
}

.content {
	border-left: 1px solid grey;
	padding: 0 0 100px;
	height: 55%;
	font-family: sans-serif;
}

/* .date_brief { */
/* 	float: right; */
/* 	margin-top: -26px; */
/* 	margin-right: 20px; */
/* 	text-decoration: underline; */
/* } */
.news_brief {
	width: 1100px;
}

.view_n_edit_ref {
	text-align: right;
	margin-right: 20px;
	margin-top: -21px;
}

.title_date {
	margin-bottom: 7px;
}

.title {
	font-weight: bold;
}

.date {
	float: right;
	margin-top: -15px;
	margin-right: 20px;
	text-decoration: underline;
}

.listNewsContent {
	padding-top: 40px;
}

.multi_delete {
	float: right;
	margin-right: 20px;
	padding: 2px;
	margin-top: -10px;
}

.news_item_block {
	margin-bottom: 35px;
	margin-left: 220px;
}

.footer {
	margin: -50px auto 0;
	min-width: 1000px;
	height: 50px;
	position: relative;
	border-top: 1px solid grey;
	font-family: sans-serif;
}

.footer span {
	position: absolute;
	margin-left: 610px;
	margin-top: 10px;
}